<form method="POST" >
  <div class="form-group">
    <label for="text">Author : </label>
    <input type="username" name="author" class="form-control" id="author">
  </div>
    <div class="mb-3">
      <label for="text" class="form-label">write blog</label>
      <input type="text" name="blogged" class="form-control" id="blogged">
    </div>
    <div class="mb-3 form-check">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class = "container my-3">
      <h2> Blogs </h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">sno</th>
        <th scope="col">Author</th>
        <th scope="col">Blog</th>
      </tr>
    </thead>
    <tbody>
      {% for blog in all %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{blog.authors}}</td>
        <td>{{blog.blogs}}</td>
        <td><a href="/delete/{{blog.id}}" button type="button" class="btn btn-dark">Delete</button></td>
      </tr>
      {% endfor %}
  
    </tbody>
  </table>
</div>